---
layout: default
title: About
section_id: about
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.png); color: #fff;'>
  <div class='row'>
    <div class='ten columns'>
      {% include section-header.html title="" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Hi There!</h3>
      <p>
        I am so thrilled that you have decided to stop by my site. I guess you have landed on to this page to know something about me. Well then, here you go!
        I am mostly a card-making and scrapbooking enthusiast, however, anything crafty excites me. 
      </p>
      <p>
        I love to dabble and push my boundaries by experimenting with different mediums, tools and techniques. I have been crafting since my high school days, it all started with making cards and scrapbooking memories for family and friends, and there was no looking back. Once a craft lover, always a craft lover. I am beyond psyched to start this blog where I can share my love and passion for craft.
      </p>
      <p>
        I am also a software engineer and a proud women in tech. I am not a website developer, but it was so much fun to design this site from writing css and html code, to designing logos in procreate. I am also hosting this site for free(thank you GitHub), so DM me on my instagram account, if you want to know more about it!


      </p>
    </div>
  </div>
</div>

  
</div>

{% include our-customers.html %}